on:
  - push
  - pull_request

name: Main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo build
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace -- --deny warnings
